In [1]:
import sys
sys.path.insert(1, '../src')

from character_extraction import *

rouge_noir_id = '798-8'
(rouge_noir_text, 
 rouge_noir_ent_tokens, 
 rouge_noir_ent_words) = get_person_entities(rouge_noir_id, grouped_entities=True)

# save entities into a dataframe, and to the disk
rouge_noir_df = pd.DataFrame(rouge_noir_ent_words)
# rouge_noir_df['full_word'] =  rouge_noir_df['full_word'].apply(lambda s: s.lower())
rouge_noir_df.to_csv('../data/book_dfs/798-8.csv', index=False) 

# view top 25 entities
(rouge_noir_df
 .drop_duplicates('total_word_index')
 .groupby('full_word')
 .count()
 .sort_values(by='score', ascending=False)
)['score'][:25]

100%|██████████| 7929/7929 [25:40<00:00,  5.15it/s]

full_word
julien       1439
mathilde      339
valenod        85
fouqué         70
ju             69
sorel          64
chélan         45
altamira       33
napoléon       32
marquis        32
élisa          32
norbert        31
rênal          28
monsieur       24
korasoff       20
pirard         18
évêque         18
frilair        15
abbé           15
bonaparte      14
maréchale      13
voltaire       13
danton         13
horace         12
maslon         12
Name: score, dtype: int64